.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background: linear-gradient(150deg, #021061, #7abff7);
}

h1 {
  margin: 30px;
  font-family: "finger paint ", cursive;
  text-shadow: 5px 0 #01314d;
  font-size: 5rem;
  color: rgb(44, 189, 51);
}

p {
  font-size: 50px;
  color: #011d14;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: rgb(17, 0, 0);
  text-align: center;
  font-family: "finger paint", cursive;
}
